#
# 	servicemenus-refresh-view-f5-dbus.desktop Version 0.9.0
# 	Copyright (C) 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#       SPDX-FileCopyrightText: 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#       SPDX-License-Identifier: LicenseRef-KDE-Accepted-GPL
#
#       This program is free software; you can redistribute it and/or
#       modify it under the terms of the GNU General Public License as
#       published by the Free Software Foundation; either version 3 of
#       the license or (at your option) at any later version that is
#       accepted by the membership of KDE e.V. (or its successor
#       approved by the membership of KDE e.V.), which shall act as a
#       proxy as defined in Section 14 of version 3 of the license.
#
#       This program is distributed in the hope that it will be useful,
#       but WITHOUT ANY WARRANTY; without even the implied warranty of
#       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#       GNU General Public License for more details.
#

[Desktop Entry]
Type=Service
MimeType=inode/directory;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=view-refresh-symbolic
Actions=RefreshView
TryExec=qdbus

[Desktop Action RefreshView]
Name="Refresh	F5
Name[ar]=التجديد	F5
Name[az]=Yapon	F5
Name[de]=Aktualisieren	F5
Name[en]=Refresh	F5
Name[es]=Actualizar	F5
Name[fi]=Virkistys	F5
Name[fr]=Rafraîchir	F5
Name[ga]=Athraigh	F5
Name[hi]=ताज़ा	F5
Name[hu]=Friss	F5
Name[id]=Menyegarkan	F5
Name[it]=Rifiuti	F5
Name[ja]=リフレッシュ(F5)
Name[ko]=새로 고침	F5
Name[nl]=Herladen	F5
Name[pl]=Odśwież	F5
Name[pt]=Actualizar	F5
Name[uk]=Оновити	F5
Name[vi]=Làm mới	F5
Name[ru]=Рефредш	F5
Name[sv]=Uppdatera	F5
Name[zh]=刷新	F5
Icon=view-refresh
Exec=bash -c 'for pid in $(pgrep dolphin) ; do isactive=false ; sname="org.kde.dolphin-$pid" ; isactive=$( qdbus "$sname" "/dolphin/Dolphin_1" "org.qtproject.Qt.QWidget.isActiveWindow" ) ; $isactive && qdbus "$sname" "/dolphin/Dolphin_1/actions/view_redisplay"  "org.qtproject.Qt.QAction.trigger" ; done'
