#
# 	servicemenus-refresh-view-f5-dbus.desktop Version 0.9.2
# 	Copyright (C) 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#       SPDX-FileCopyrightText: 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#       SPDX-License-Identifier: LicenseRef-KDE-Accepted-GPL
#
#       This program is free software; you can redistribute it and/or
#       modify it under the terms of the GNU General Public License as
#       published by the Free Software Foundation; either version 3 of
#       the license or (at your option) at any later version that is
#       accepted by the membership of KDE e.V. (or its successor
#       approved by the membership of KDE e.V.), which shall act as a
#       proxy as defined in Section 14 of version 3 of the license.
#
#       This program is distributed in the hope that it will be useful,
#       but WITHOUT ANY WARRANTY; without even the implied warranty of
#       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#       GNU General Public License for more details.
#

[Desktop Entry]
Name=Refresh View (F5)
Type=Service
MimeType=inode/directory;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=view-refresh-symbolic
InitialPreference=80
Actions=RefreshView;
# TryExec=$qdbus

[Desktop Action RefreshView]
Name="Refresh	F5
Name[ar]=أعد التحميل	F5
Name[ast]=Recargar	F5
Name[az]=Təkrarlamaq	F5
Name[be]=Перазагрузіць	F5
Name[bg]=Презареждане	F5
Name[bs]=Učitaj ponovo	F5
Name[ca]=Actualitza	F5
Name[cs]=Obnovit	F5
Name[da]=Genindlæs	F5
Name[de]=Aktualisieren	F5
Name[el]=Επαναφόρτωση	F5
Name[en]=Refresh	F5
Name[eo]=Reŝargi	F5
Name[es]=Recargar	F5
Name[et]=Laadi uuesti	F5
Name[eu]=Birkargatu	F5
Name[fa]=بارگذاری مجدد	F5
Name[fi]=Päivitä	F5
Name[fr]=Recharger	F5
Name[ga]=Athluchtaigh	F5
Name[gl]=Cargar de novo	F5
Name[he]=טעינה מחדש	F5
Name[hi]=री-लोड	F5
Name[hr]=Učitaj ponovno	F5
Name[hu]=Újratöltés	F5
Name[ia]=Recarga	F5
Name[id]=Muat Ulang	F5
Name[is]=Endurlesa	F5
Name[it]=Ricarica	F5
Name[ja]=再読み込み	F5
Name[kk]=Қайта жүктеп алу	F5
Name[km]=ផ្ទុកឡើងវិញ	F5
Name[ko]=새로 고침	F5
Name[lt]=Įkelti iš naujo	F5
Name[lv]=Pārielādēt	F5
Name[ml]=പുതുക്കുക	F5
Name[mr]=पुन्हा दाखल करा	F5
Name[nb]=Last på nytt	F5
Name[nds]=Nieg laden	F5
Name[nl]=Herladen	F5
Name[nn]=Last om att	F5
Name[pa]=ਮੁੜ-ਲੋਡ	F5
Name[pl]=Wczytaj ponownie	F5
Name[pt]=Actualizar	F5
Name[pt_BR]=Recarregar	F5
Name[ro]=Reîncarcă	F5
Name[ru]=Обновить	F5
Name[se]=Ladda om	F5
Name[sk]=Obnoviť	F5
Name[sl]=Znova naloži	F5
Name[sq]=Ringarko	F5
Name[sr]=Учитај поново	F5
Name[sv]=Uppdatera	F5
Name[ta]=மீளேற்று	F5
Name[tg]=Бозсозӣ	F5
Name[tr]=Yeniden Yükle	F5
Name[ug]=قايتا يۈكلە	F5
Name[uk]=Перезавантажити	F5
Name[vi]=Tải lại	F5
Name[wa]=Ritcherdjî	F5
Name[zh_CN]=重新加载	F5
Name[zh_TW]=重新載入	F5
Icon=view-refresh
Exec=bash -c 'qdbus_avail=($(type -p qdbus qdbus6 qdbus5 qdbus-qt6 qdbus-qt5)); qdbus=${qdbus_avail[0]}; [[ -z "$qdbus" ]] && kdialog --error "qdbus command not found" && exit 1; for sname in $($qdbus --session "org.kde.dolphin-*") ; do isactive=false ; isactive=$( $qdbus "$sname" "/dolphin/Dolphin_1" "org.qtproject.Qt.QWidget.isActiveWindow" ) ; $isactive && $qdbus "$sname" "/dolphin/Dolphin_1/actions/view_redisplay"  "org.qtproject.Qt.QAction.trigger" ; done'
